<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="saeut.dao.mybatis.mapper.AccountMapper">
  <cache />
  
	  <select id="getAccountByUserId" resultType="Account">
	    select id, password, name, nickname, phone, pic, type
		from Account 
		where id = #{id}
	  </select>
	  
	  <select id="getAllAccount" resultType="Account">
	    select id, password, name, nickname, phone, pic,type 
		from Account
	  </select>
	  
	   <insert id="insertAccount"  parameterType="Account">
		 insert into Account(id, password, name, nickname, phone, pic, type)
		 values(#{id}, #{password}, #{name}, #{nickname}, #{phone}, 
		 #{pic},#{type})
		</insert>
	
   	  <update id="modAccount"  parameterType="Account">
	     update Account
	     set password=#{password}, name=#{name}, nickname=#{nickname}, phone=#{phone}, 
	     pic=#{pic}, type=#{type}
	     where
	     id=#{id}
   	  </update> 
     
      <delete id="removeAccount"  parameterType="String">
	   delete from Account
	   where
	   id=#{id}
	  </delete>
	  
  
  </mapper>