<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="saeut.dao.mybatis.mapper.ApplyMapper">
  <cache />
  
  <select id="getAllApply" resultType="Apply">
  	select id, post_id, introduce
  	from Apply
  </select>
  
   <select id="getApplyByUserId" parameterType="String" resultType="Apply">
  	select id, post_id, introduce
  	from Apply
  	where id=#{id}
  </select>
  
  <select id="getApplyByPostId" parameterType="int" resultType="Apply">
  	select post_id, id, introduce
  	from Apply
  	where post_id=#{post_id}
  </select>
  
  <insert id="insertApply" parameterType="Apply">
  	insert into Apply(post_id, id, introduce)
  	values(#{post_id}, #{id},#{introduce})
  </insert>
     
  <delete id="removeApply"  parameterType="int">
	delete from Apply
	where post_id=#{post_id}
  </delete>
  	  
  <select id="getApplyCount" parameterType="int" resultType="int">  
  	select count(post_id)
	from Apply
	where post_id=#{post_id};
  </select>
  
  <select id="isVaildId" resultType="boolean">
  	select case when (p.id != a.id)
		then true else false end as 'isValidId'
	from Apply a, Post p
	where a.id = #{param1} and p.post_id = #{param2}
  </select>
  
  <select id="isAlreadyApply" resultType="boolean">
  	select case when (count(post_id) > 0) then true else false
  			end as 'isAlreadyApply'
  	from Apply
  	where id=#{param1} and post_id=#{param2}
  </select>
</mapper>