<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="saeut.dao.mybatis.mapper.ApplyMapper">
  <cache />
  
  <select id="getAllApply" resultType="Apply">
  	select id, post_id, introduce
  	from Apply
  </select>
  
   <select id="getApplyByUserId" parameterType="String">
  	select id, post_id, introduce
  	from Apply
  	where id=#{id}
  </select>
  
  <select id="getApplyByPostId" parameterType="int">
  	select post_id, id, introduce
  	from Apply
  	where post_id=#{post_id}
  </select>
  
  <insert id="insertApply" parameterType="Apply">
  	insert into Apply(post_id, id, introduce)
  	values(#{post_id}, #{id},#{introduce})
  </insert>
     
  <delete id="removeApply"  parameterType="int">
	delete from Apply
	where post_id=#{post_id}
  </delete>
  	  
  <select id="countApplyByPostId" parameterType="int" resultType="int"> <!--하나의 게시물에 대하여 신청자 수 조회  -->
  	select count((distinct))post_id)
  	from Apply
  	where post_id=#{post_id}
  </select>
  
  </mapper>