<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="saeut.dao.mybatis.mapper.CertificateMapper">
  <cache />
  
	  <select id="getCertificateByUserId" resultType="Certificate">
	    select cert_id, cert_name, cert_date, cert_inst, id, verify
		from Certificate
		where id = #{id}
	  </select>
	  
	  <select id="getAllCertificate" resultType="Certificate">
	    select cert_id, cert_name, cert_date, cert_inst, id, verify
		from Certificate
	  </select>
	  
	   <insert id="insertCertificate"  parameterType="Certificate">
		 insert into Certificate(cert_name, cert_date, cert_inst, id)
		 values(#{cert_name}, #{cert_date}, #{cert_inst}, #{id})
		</insert>
	
   	  <update id="modCertificate"  parameterType="Certificate">
	     update Certificate
	     set cert_name=#{cert_name}, cert_date=#{cert_date}, cert_inst=#{cert_inst}, id=#{id}
	     where cert_id=#{cert_id}
   	  </update> 
     
      <delete id="removeCertificate"  parameterType="Integer">
	   delete from Certificate
	   where cert_id=#{cert_id}
	  </delete>
	  
  
  </mapper>