<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="saeut.dao.mybatis.mapper.CheckListMapper">
  <cache />
  
  <select id="getAllCheckList" resultType="CheckList">
  	select name, checked, cert_id
  	from CheckList
  </select>
  
  <select id="getTop6CheckList" resultType="CheckList">
  	select name, checked, cert_id
  	from CheckList
  	limit 6
  </select> <!-- 대충써논것..다시 수정하기 -->
  
 </mapper>