<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="saeut.dao.mybatis.mapper.PostMapper">
  <cache />
  
  	<select id="getAllPost" resultType="Post">
	  	select *
	  	from Post
	  	order by post_date desc
  	</select>
  
   	<select id="getPostByUserId" parameterType="String" resultType="Post">
	  	select *
	  	from Post
	  	where id=#{id}
	  	order by post_date desc
  	</select>
  	
  	<select id="getPostByType" parameterType="int" resultType="Post">
	  	select *
	  	from Post
	  	where type=#{type}
	  	order by post_date desc
  	</select>
  	
  	<select id="getPostByTitle" parameterType="String" resultType="Post">
	  	select *
	  	from Post
	  	where title like CONCAT('%',#{title},'%')
	  	order by post_date desc
  	</select>
  
  	<insert id="insertPost" parameterType="Post">
  	insert into Post(id, title, post_age, post_schedule, post_gender, contents, start_date, due_date, recruit_status, type, payment, wage, limit_supply, limit_demand)
  	values(#{id},#{title},#{post_age}, #{post_schedule}, #{post_gender}, #{contents}, #{start_date},#{due_date}, #{recruit_status}, #{type}, #{payment}, #{wage}, #{limit_supply}, #{limit_demand})
  	</insert>
  
  	<update id="modPost"  parameterType="Post">
		update Post
		<set>
			<if test="title != null">title=#{title}, </if>
			<if test="post_age != null">post_age=#{post_age}, </if>
			<if test="post_schedule != null">post_schedule=#{post_schedule}, </if>
			<if test="post_gender != null">post_gender=#{post_gender}, </if>
			<if test="start_date != null">start_date=#{start_date}, </if>
			<if test="due_date != null">due_date=#{due_date}, </if>
			<if test="recruit_status != null">recruit_status=#{recruit_status}, </if>
			<if test="type != null">type=#{type}, </if>
			<if test="payment != null">payment=#{payment}, </if>
			<if test="wage != null">wage=#{wage}, </if>
			<if test="limit_supply != null">limit_supply=#{limit_supply}, </if>
			<if test="limit_demand != null">limit_demand=#{limit_demand} </if>
		</set>
		where post_id=#{post_id}
 	 </update> 
 	 
<!--  	 <update id="modPost"  parameterType="Post">
		update Post
		set title=
			#{title}, post_age=#{post_age}, post_schedule=#{post_schedule}, post_gender=#{post_gender}, contents=#{contents}, start_date=#{start_date}, due_date=#{due_date},
		      recruit_status=#{recruit_status}, type=#{type}, payment=#{payment}, wage=#{wage}, limit_supply=#{limit_supply}, limit_demand=#{limit_demand}
		where post_id=#{post_id}
 	 </update>  -->
     
  	<delete id="removePost"  parameterType="int">
	   delete
	   from Post
	   where post_id=#{post_id}
	</delete>
  
  	<select id="isExistPostId" resultType="boolean">
  		select case when (count(post_id) > 0) 
				then true else false end as 'isExistPostId'
		from Post
		where post_id=#{post_id}
  	</select>
 
 </mapper>