<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="saeut.dao.mybatis.mapper.TagMapper">
  <cache />
  
  <select id="getAllTag" resultType="Tag">
  	select *
  	from Tag
  </select>
  
  <select id="getTagByPostID" parameterType="int" resultType="Tag">
  	select *
  	from Tag
  	where post_id=#{post_id}
  </select>
  
  <insert id="insertTag" parameterType="Tag">
  	insert into Tag(post_id, tag_name)
  	values(#{post_id}, #{tag_name})
  </insert>
  
  <delete id="removeTag"  parameterType="int">
   delete from Tag
   where post_id=#{post_id}
  </delete>
  
  
  
 </mapper>