<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="saeut.dao.mybatis.mapper.UserAdditionalMapper">
  <cache />
  
	  <select id="getUserAdditionalByUserId" resultType="UserAdditional">
	    select *
		from UserAdditional 
		where id = #{id}
	  </select>
	  
	  <select id="getAllUserAdditional" resultType="UserAdditional">
	    select *
		from UserAdditional
	  </select>
	  
	  <insert id="insertUserAdditional"  parameterType="UserAdditional">
		 insert into UserAdditional(id, nickname, pic, description, zipcode, address1, address2, add_latitude, add_longitude, introduce, grade)
		 values(#{id}, #{nickname}, #{pic}, #{description}, #{zipcode}, #{address1}, #{address2}, #{add_latitude}, #{add_longitude}, #{introduce}, #{grade})
	 </insert>
   	  
   	  <update id="modUserAdditional"  parameterType="UserAdditional">
			update UserAdditional
			<set>
				<if test="nickname != null">nickname=#{nickname}, </if>
				<if test="pic != null">pic=#{pic}, </if>
				<if test="description != null">description=#{description}, </if>
				<if test="zipcode != null">zipcode=#{zipcode}, </if>
				<if test="address1 != null">address1=#{address1}, </if>
				<if test="address2 != null">address2=#{address2}, </if>
				<if test="add_latitude != null">add_latitude=#{add_latitude}, </if>
				<if test="add_longitude != null">add_longitude=#{add_longitude}, </if>
				<if test="introduce != null">introduce=#{introduce}, </if>
				<if test="grade != null">grade=#{grade} </if>
			</set>
			where id=#{id}
 	 </update> 
     
      <delete id="removeUserAdditional"  parameterType="String">
	   delete from UserAdditional
	   where  id=#{id}
	  </delete>
	  
   	  <select id="isNickDuplicated" parameterType="String" resultType="boolean">
	    select case when (count(nickname) > 0) 
		then true else false end as 'isNickDuplicated'
		from UserAdditional 
		where nickname = #{nickname}
	  </select>
	  	
  </mapper>