<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="saeut.dao.mybatis.mapper.UserAdditionalMapper">
  <cache />
  
	  <select id="getUserAdditionalByUserId" resultType="UserAdditional">
	    select id, nickname, pic, rank, score, description, zipcode, address1, address2
		from UserAdditional 
		where id = #{id}
	  </select>
	  
	  <select id="getAllUserAdditional" resultType="UserAdditional">
	    select  id, nickname, pic, rank, score, description, zipcode, address1, address2
		from UserAdditional
	  </select>
	  
	   <insert id="insertUserAdditional"  parameterType="UserAdditional">
		 insert into UserAdditional( id, nickname, pic, rank, score, description, zipcode, address1, address2)
		 values(#{id}, #{nickname}, #{pic}, #{rank}, #{score}, #{description}, 
		 			 #{zipcode}, #{address1}, #{address2})
		</insert>
	
   	  <update id="modUserAdditional"  parameterType="UserAdditional">
	     update UserAdditional
	     set   nickname=#{nickname}, pic=#{pic}, rank=#{rank}, score=#{score}, description=#{description},
	     		zipcode=#{zipcode}, address1=#{address1}, address2=#{address2}
	     where id=#{id}
   	  </update> 
     
      <delete id="removeUserAdditional"  parameterType="String">
	   delete from UserAdditional
	   where  id=#{id}
	  </delete>
	  
  
  </mapper>