<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="saeut.dao.mybatis.mapper.UserEssentialMapper">
  <cache />
  
	  <select id="getUserEssentialByUserId" resultType="UserEssential">
	    select id, password, name, phone, birth, gender, perm1
		from UserEssential 
		where id = #{id}
	  </select>
	  
  	  <select id="getUserEssentialByUserIdAndPassword" resultType="UserEssential">
	    select id, password, name, phone, birth, gender, perm1
		from UserEssential 
		where id = #{id} and password = #{password}
  	  </select>
	  
	  <select id="getAllUserEssential" resultType="UserEssential">
	    select id, password, name, phone, birth, gender, perm1
		from UserEssential
	  </select>
	  
	  <select id="getNicknameByUserID" parameterType="String" resultType="String">
	    select nickname from UserEssential where id=#{id};
	  </select>
	  
	   <insert id="insertUserEssential"  parameterType="UserEssential">
		 insert into UserEssential(id, password, name, phone, birth, gender, perm1)
		 values(#{id}, #{password}, #{name}, #{phone}, #{birth}, #{gender}, #{perm1})
		</insert>
	
   	  <update id="modUserEssential"  parameterType="UserEssential">
	     update UserEssential
	     set password=#{password}, name=#{name}, phone=#{phone}, birth=#{birth}, gender=#{gender}, perm1=#{perm1}}
	     where	id=#{id}
   	  </update> 
     
      <delete id="removeUserEssential"  parameterType="String">
	   delete from UserEssential
	   where id=#{id}
	  </delete>
	  
	  <select id="isIdDuplicated" parameterType="String" resultType="boolean">
	    select case when (count(id) > 0) 
		then true else false end as 'isIdDuplicated'
		from UserEssential 
		where id = #{id}
	  </select>
	  
  
  </mapper>